h1 {
    color: rgb(8, 138, 58);
}

#form-control {
    width: 215px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    top: 395px;
}

#chat-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#iphone {
    position: absolute;
    display: flex;
    justify-content: center;
}

#keyboard {
    position: absolute;
    top: 495px;
    width: 277px;
    display: flex;
    justify-content: center;
}

#phone-and-keyboard {
    display: flex;
    justify-content: center;
    width: 100%;
}

#text-input {
    width: 215px;

}

#submit-button {
    float: right;
    width: 55px;
    margin-right: 15px;
}

#chat-input-output {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;   

}


#chat-messages {
    position: absolute;
    top: 75px;
    width: 290px;
    display: flex;
    justify-content: flex-start;
}